@model List<ChungQuyWatch.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jsFooter{
    <link href="/Assets/Clinet/css/css-cart.css" rel="stylesheet" />
    <script src="/Assets/Clinet/js/Controller/CartControllers.js"></script>
}
<div id="container">
    <div class="wrp">
        <div id="product" class="cart">
            <div class="flex">
                <div class="left">
                    <div class="cart_header" style="text-align: center;color: #288ad6;">
                        THÔNG TIN GIỎ HÀNG
                    </div>
                    @if (Model.Count() > 0)
                    {
                        <form name="frm_cart" method="post">
                            <div class="tableCart">
                                <div class="row row1">
                                    <div class="col col1"></div>
                                    <div class="flex flex_1">
                                        <div class="col col2 dnmobile">Sản phẩm</div>
                                        <div class="flex flex_1 dnmobile">
                                            <div class="col col3">Giá</div>
                                            <div class="col col4">Số lượng</div>
                                            <div class="col col5">Thành tiền</div>
                                            <div class="col col6"></div>
                                        </div>
                                    </div>
                                </div>
                                @foreach (var item in Model)
                                {
                                    <div class="row row2">
                                        <div class="col col1">
                                            <div class="wImage">
                                                <a href="/sp/12886/Dong-ho-Citizen-CT-AR1113-12A.html" title="" class="image">
                                                    <img data-src="" class="lazy" alt="" src="@item.Product.Image">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="flex flex_1">
                                            <div class="col col2">
                                                <a href="#" title="" class="fHelveticaNeueB">@item.Product.Name</a>
                                            </div>
                                            <div class="col col3">
                                                <span class="fs16">
                                                    <p><b>@(item.Product.Price.GetValueOrDefault(0).ToString("N0")) đ</b></p>
                                                    <p style="background: #F00;padding: 5px 5px;color: #FFF;border-radius: 25px;text-transform: uppercase;font-weight: bold;width: 80px;text-align: center;">- 40 %</p>
                                                </span>
                                            </div>
                                            <div class="col col4">
                                                <span class="dn dibmobile pr4">Số lượng: </span>
                                                <input type="number" min="1" class="input_quantity" name="quantity_12886" data-id="@item.Product.ID" value="@item.Quantity" id="quantity_12886">
                                                <input type="button"  class="update_qty btn btn-danger fff btnUpdate" value="Cập nhật">
                                                <script>
                                                    function update_qty_12886(pid) {
                                                        var qty = document.frm_cart.quantity_12886.value;
                                                        location.href = "/index.php?mod=cart&ajax&task=update_quantity&pid=" + pid + "&qty=" + qty;
                                                    }

                                                </script>
                                            </div>
                                            <div class="col col5">
                                                <span class="dn dibmobile pr4">Thành tiền: </span>
                                                <span class="fs16 fwb">
                                                    @((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0")) đ
                                                </span>
                                            </div>
                                            <div class="col col6">
                                                <a class="btnDelete" href="#" data-id="@item.Product.ID">
                                                    <img data-src="/view/css/icon/delete.jpg" class="lazy" alt="" src="/Assets/Clinet/image/delete.jpg">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="row row3">
                                    <div class="lienhe">
                                        <p>Tổng giá trị đơn hàng: <b class="totalPrice" style="color: red;font-size: 18px;text-decoration:line-through;"> 8.100.000 VNĐ</b> </p>
                                        <input type="hidden" name="hdnSumOrder" id="hdnSumOrder" value="8100000">
                                        <input type="hidden" name="hdnSale2B" id="hdnSale2B" value="0">
                                        <input type="hidden" name="hdnFGiam" id="hdnFGiam" value="3240000">
                                        <input type="hidden" name="hdnFlash" id="hdnFlash" value="0">

                                        <p style="color: #3498db;text-align: left;font-size: 18px;font-weight: bold;padding: 6px 0;">Bạn tiết kiệm được: <span id="paySave">3.240.000</span> VNĐ</p>
                                    </div>
                                    <div class="totalPrice">Thanh toán: <span id="payOrder">4.860.000 </span> VNĐ </div>
                                </div>
                                <div class="row row3">
                                    <div class="lienhe">
                                        <p>Thông tin liên hệ Hotline: <a href="tel:0867515555" title="086.751.5555">086.751.5555</a> hoặc <a href="tel:0986681189" title="">098.668.1189</a>  - <a href="tel:0985681189" title="">098.568.1189</a> để được hỗ trợ. </p>
                                        <p>Xin trân trọng cảm ơn !</p>
                                    </div>
                                </div>
                                <div class="btnCartGroup tac" style="margin-top: 30px;">
                                    <a href="#" class="btnCart" title="" style="background: #3498db;padding: 10px 15px;color: #FFF;border-radius: 25px;text-transform: uppercase;">Mua thêm sản phẩm khác <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
                    }

                </div>
                <div class="infoDatHang flex_1">
                    <div class="group">
                        <div class="c000 fSFUHelveticaCondensedBold ttu fs20 pb20" style="text-align: center;color: #288ad6;">THÔNG TIN LIÊN HỆ</div>
                        <p class="fsti pb10 tac">Lưu ý: Các ô có dấu <span class="cRed">(*)</span> cần điền đầy đủ thông tin</p>
                        <div class="form">
                            <form class="from_cart_register" action="/cart/" method="post">

                                <div class="item">
                                    <p class="label">Họ và tên <span class="cRed">(*)</span></p>
                                    <input type="text" name="txt_name" id="txt_name" placeholder="Nhập họ tên" value="" required="" oninvalid="this.setCustomValidity('Vui lòng nhập họ tên!')" oninput="setCustomValidity('')">
                                </div>
                                <div class="item">
                                    <p class="label">Điện thoại <span class="cRed">(*)</span></p>
                                    <input type="text" name="txt_phone" id="txt_phone" placeholder="Nhập điện thoại" value="" required="" oninvalid="this.setCustomValidity('Vui lòng nhập số điện thoại')" oninput="setCustomValidity('')">
                                </div>

                                <div class="item">
                                    <p class="label">Địa chỉ <span class="cRed">(*)</span></p>
                                    <input type="text" value="" name="txt_address" id="txt_address" placeholder="Nhập địa chỉ" required="" oninvalid="this.setCustomValidity('Vui lòng nhập địa chỉ!')" oninput="setCustomValidity('')">
                                </div>
                                <div class="item">
                                    <p class="label">Email</p>
                                    <input type="text" name="txt_email" value="">
                                </div>
                                <div class="item">
                                    <p class="label">Nội dung</p>
                                    <textarea style="min-height: 60px;" name="txt_addition_request" cols="" rows="2"></textarea>
                                </div>
                                <div class="cb h10"></div>
                                <div class="btnThanhToan">
                                    <button class="tac" name="payment" value="1" type="submit">
                                        <p class="ttu fHelveticaNeueB fs15">ĐẶT HÀNG THANH TOÁN SAU</p>
                                        <p>(Trả tiền khi nhận hàng tại nhà)</p>
                                    </button>
                                    <button class="tac" name="payment" value="2" type="submit">
                                        <p class="ttu fHelveticaNeueB fs15">Thanh toán online</p>
                                        <p>(Bằng thẻ ATM, Visa, Master)</p>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
